.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  margin-bottom: 25px;
  padding-bottom: 25px;
}

html.view-profile .head-top::after {
  height: 0;
  background: none;
}
nav.tabs-top {
  background: #7ab700;
  padding-top: 2px;
  padding-bottom: 3px;
}
.nav-tabs > li {
  border-right: 1px solid #98dd0b;
}
.nav-tabs > li > a {
  border-radius: 0;
  color: #98dd0b;
  font-size: 15px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background: #f6f6f6;
  color: #000000;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background: #f6f6f6;
  color: #000000;
}
.nav {
  margin-bottom: 0;
}
.nav-tabs {
  border-bottom: none;
}

.page-header {
  border-bottom: 0;
}
.container {
  max-width: 1170px !important;
}
span.reg {
  font-family: "Conv_Brandon_reg", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input.form-control,
select {
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: block;
  font-size: 15px;
  height: 40px;
  line-height: 20px;
  padding: 10px 10px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
select:focus {
  background-color: #fff;
  border-color: rgba(232, 232, 232, 0.8);
  outline: 0;
  outline: thin dotted \9;
  
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(232, 232, 232, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(232, 232, 232, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(232, 232, 232, 0.6);
}
#column-content {
  display: inline-block;
}
div.arrow_pointer {
  background: url("../../templates/t3_bs3_blank/images/arrow-up.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: block;
  height: 31px;
  margin: 32px auto 0;
  text-align: center;
  vertical-align: middle;
  width: 28px;
}
input.form-control.username {
  background: url("../../templates/t3_bs3_blank/images/user.png");
  background-repeat: no-repeat;
  background-position: right;
}
input.form-control.password {
  background: url("../../templates/t3_bs3_blank/images/padlock.png");
  background-repeat: no-repeat;
  background-position: right;
}
input#first_name {
  background: url("../../templates/t3_bs3_blank/images/userimage.png");
  background-repeat: no-repeat;
  background-position: right;
}
input#last_name {
  background: url("../../templates/t3_bs3_blank/images/userimage.png");
  background-repeat: no-repeat;
  background-position: right;
}
input#organization {
  background: url("../../templates/t3_bs3_blank/images/chart.png");
  background-repeat: no-repeat;
  background-position: right;
}
input#address {
  background: url("../../templates/t3_bs3_blank/images/home.png");
  background-repeat: no-repeat;
  background-position: right;
}
input#city {
  background: url("../../templates/t3_bs3_blank/images/stocks.png");
  background-repeat: no-repeat;
  background-position: right;
}
input#zip {
  background: url("../../templates/t3_bs3_blank/images/arrow-straight.png");
  background-repeat: no-repeat;
  background-position: right;
}
select#country {
  width: 267px;
  height: 42px;
  overflow: hidden;
  background: url("../../templates/t3_bs3_blank/images/flag.png") no-repeat right;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}
select#state {
  width: 267px;
  height: 42px;
  overflow: hidden;
  background: url("../../templates/t3_bs3_blank/images/flag.png") no-repeat right;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}
select#osm_referrer {
  width: 267px;
  height: 42px;
  overflow: hidden;
  background: url("../../templates/t3_bs3_blank/images/select.png") no-repeat right;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}
select#osm_industry {
  width: 267px;
  height: 42px;
  overflow: hidden;
  background: url("../../templates/t3_bs3_blank/images/select.png") no-repeat right;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}
input#phone {
  background: url("../../templates/t3_bs3_blank/images/phone.png");
  background-repeat: no-repeat;
  background-position: right;
}
input#email {
  background: url("../../templates/t3_bs3_blank/images/mail.png");
  background-repeat: no-repeat;
  background-position: right;
}
.form-horizontal .control-group .controls {
  margin-left: 0px;
}
input#submit {
  background: url("../../templates/t3_bs3_blank/images/update.png") no-repeat;
  cursor: pointer;
  width: 180px;
  height: 55px;
  border: none;
  margin-top: 18px;
}
input#submit:hover {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(232, 232, 232, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(232, 232, 232, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(232, 232, 232, 0.6);
}
h1.change-avatar {
  background: url("../../templates/t3_bs3_blank/images/arrow-up.png") no-repeat scroll right center rgba(0, 0, 0, 0);
  display: inline-block;
  padding-right: 35px;
  position: absolute;
  top: 22%;
  width: auto;
}
div.avatar {
  border-radius: 50%;
  height: 100px;
  position: absolute;
  right: 25px;
  width: 100px;
}
div#field_state div.control-label {
  display: none;
}